/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0px;
    padding: 0px;
}
.site-header{
    top: 0px;
    z-index: 99;
    position: fixed;
    color:whitesmoke;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(85, 47, 0);
}
.header-logo{
    margin-right: 50px;
    color:whitesmoke;
    float:left;
    padding: 0;
    font-size: 35px;
    text-decoration: none;
}
.header-list{
    color:whitesmoke;
    text-decoration: none;
    margin-right: 50px;
    padding: 15px;
    text-align: right;
}
.message{
    margin: 0;
    background-color: burlywood;
    padding: 15px;
    text-align: center;
}
